* {
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", sans-serif;
}

div {
    max-width: 700px;
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
}

footer {
    height: 25px;
    width: 100%;
    bottom: 3%;
    position: fixed;
}
a {
  font-size: 1.5em;
}

a, a:visited {
    text-decoration: none;
    color: #7a7a7a;
}

a:hover {
    color: black;
}

#computer {
    position: relative;
    width: 100%;
}

#laptopFolder, #phoneFolder, #penFolder {
    position: absolute;
    width: 15%;
}


/* folder positions */

#laptopFolder {
    top: 30%;
    left: 15%;
}

#phoneFolder {
    top: 10%;
    left: 40%;
}

#penFolder {
    top: 20%;
    left: 70%;
}


/* end folder positions */

#laptopOverlay, #phoneOverlay, #penOverlay {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#laptopOverlay img, #phoneOverlay img, #penOverlay img {
    margin-top: 3%;
    max-width: 700px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

p {
    font-size: 1.5em;
    min-width: 600px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#laptopOverlay p {
    top: 60%;
}

#phoneOverlay p {
    top: 50%;
}

#penOverlay p {
    top: 60%;
}

#laptopClose, #phoneClose, #penClose {
    position: fixed;
    top: 40px;
    left: 40px;
    color: darkgray;
    font-size: 30px;
}

@media screen and (min-width: 769px) {
  body {
    padding: none;
  }
  #laptopOverlay p {
      top: 80%;
  }

  #phoneOverlay p {
      top: 70%;
  }

  #penOverlay p {
      top: 80%;
  }
  footer {
    left: 40%;
  }
  a {
    font-size: 1em;
  }
  p {
    font-size: 1em;
    max-width: 500px;
  }
}
@media screen and (max-width: 769px) {
  body {
    padding: 8%;
    padding-top: 2%;
  }
}
